假設從2010.01.01開始，你每個月持續有USD $1000資金，(1)你都不管他，只放在銀行，到了2020.01.01你的財產=?(2)你固定選擇Apple(AAPL)公司作為買股票的對象，到了2020.01.01你的財產=?

In [10]:
#假設年利率為5%
bank_total=0
for i in range(120):
    bank_total=(bank_total+1000)*(1+0.05/12)
    
print(bank_total)

155929.28894335806

In [11]:
import requests
import numpy as np
import pandas as pd
import json

ticket = "AAPL"
APIurl = "https://query1.finance.yahoo.com/v8/finance/chart/"+ticket+"?period1=1262304000&period2=1577836800&interval=1mo&events=history&=hP2rOschxO0"
response = requests.get(APIurl)  #取出資料json檔
data = json.loads(response.text)  #讀取文字檔呈現
table = pd.DataFrame(data['chart']['result'][0]['indicators']['quote'][0], index=pd.to_datetime(np.array(data['chart']['result'][0]['timestamp'], dtype='int64')*1000*1000*1000))
table

                          volume       high        low       open      close
2010-01-01 05:00:00  15168994400   7.699643   6.794643   7.622500   6.859286
2010-02-01 05:00:00  10776080000   7.327500   6.816071   6.870357   7.307857
2010-03-01 05:00:00  12154172800   8.481429   7.337500   7.348214   8.392857
2010-04-01 04:00:00  12367129600   9.730714   8.312500   8.478929   9.324643
2010-05-01 04:00:00  18082654800   9.567143   7.116071   9.422857   9.174286
...                          ...        ...        ...        ...        ...
2019-08-01 04:00:00   2724326400  54.507500  48.145000  53.474998  52.185001
2019-09-01 04:00:00   2170268400  56.605000  51.055000  51.607498  55.992500
2019-10-01 04:00:00   2433210800  62.437500  53.782501  56.267502  62.189999
2019-11-01 04:00:00   1793326000  67.000000  62.290001  62.384998  66.812500
2019-12-01 05:00:00   2388794800  73.492500  64.072502  66.817497  73.412498

[120 rows x 5 columns]

In [12]:
def Strategy1():
    stock_sum=0
    balance=0
    for i in table.close:
        this_month_buying=1000//i+balance//i
        balance=1000%(i//1)+balance%(i//1)
        stock_sum+=this_month_buying
    total=table.close[-1]*stock_sum+balance
    print("Strategy1 total: ")
    print(total)

def Strategy2():
    stock_sum=0
    balance=0
    this_month_buying=1000//table.close[0]
    balance=1000%(table.close[0]//1)+balance%(table.close[0]//1)
    stock_sum+=this_month_buying
    for i in range(1,116):
        if(table.close[i]<table.close[i-1]):
            this_month_buying=1000//table.close[i]+balance//table.close[i]
            balance=1000%(table.close[i]//1)+balance%(table.close[i]//1)
            stock_sum+=this_month_buying
        else:
            this_month_buying=800//table.close[i]
            balance=800%(table.close[i]//1)+200+balance
            stock_sum+=this_month_buying
            
    for i in range (116,121):
        this_month_buying=1000//i+balance//i
        balance=1000%(i//1)+balance%(i//1)
        stock_sum+=this_month_buying
    
    total=table.close[-1]*stock_sum+balance
    print("Strategy2 total: ")
    print(total)

In [13]:
Strategy1()
Strategy2()

Strategy1 total:
420158.3162689209
Strategy2 total:
416673.9288406372